<h1><CENTER>イベントカレンダー</CENTER></h1>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <!--%= link_to "A",interns_path, role:"tab" %-->
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">すべて</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">短期インターン</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">イベント</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_d" data-toggle="tab" href="#tab_d" role="tab">説明会</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <%= month_calendar events: @interns , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
          <%= link_to 'Edit', edit_intern_path(intern),:class=>"btn btn-warning" %>
          <%= link_to 'Destroy', intern, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-danger"%>
        <% end %>
      <% end %>

    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <%= month_calendar events: @interns , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
      <%= month_calendar events: @interns , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab_d" role="tabpanel">
      <%= month_calendar events: @interns , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>


<%= link_to 'New Intern', new_intern_path %>
