<p id="notice"><%= notice %></p>

<h1>Listing Interns</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interns.each do |intern| %>
      <tr>
        <td><%= intern.title %></td>
        <td><%= intern.context %></td>
        <td><%= link_to 'Show', intern %></td>
        <td><%= link_to 'Edit', edit_intern_path(intern) %></td>
        <td><%= link_to 'Destroy', intern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <!--%= link_to "A",interns_path, role:"tab" %-->
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">A</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">B</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">C</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <%= month_calendar events: @interns , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <%= month_calendar events: @interns , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
      <%= month_calendar events: @interns , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>


<%= link_to 'New Intern', new_intern_path %>
