<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 cover-img" style="background-image:url('https://manablog.org/wp-content/uploads/2016/11/top-img.jpg');-moz-background-size:cover;
background-size:cover;">
      <div class="cover-text text-center">
      <p style="height: 200px;"></p>
      <%= image_tag attachment_url(@intern, :company_image, :fill, 300, 300, format: "jpg" ),:class=>'img-thumbnail' %>
      
        <h1 style="color: #fff;">ごのせん</h1>
        <h2 style="color: #fff;">〜九州の学生のための就活情報まとめサイト〜</h2>


        <p style="height: 200px;"></p>
      </div>
    </div>
  </div>
</div>

<h1><CENTER>イベントカレンダー</CENTER></h1>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <!--%= link_to "A",interns_path, role:"tab" %-->
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">すべて</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">短期インターン</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">イベント</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_d" data-toggle="tab" href="#tab_d" role="tab">説明会</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <%= month_calendar events: @interns , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
          <%= link_to 'Edit', edit_intern_path(intern),:class=>"btn btn-warning" %>
          <%= link_to 'Destroy', intern, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-danger"%>
        <% end %>
      <% end %>

    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <%= month_calendar events: @interns.where(intern_type: 1) , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
      <%= month_calendar events: @interns.where(intern_type: 2)  , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab_d" role="tabpanel">
      <%= month_calendar events: @interns.where(intern_type: 3)  , class: "simple-calendar" do |date,interns| %>
        <%= date.day %>
          <% interns.each do |intern| %>
          <div>
            <%= link_to intern.title, intern %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>


<%= link_to 'New Intern', new_intern_path %>
