    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>ごのせん</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="nav navbar-nav navbar-right">
            <div class="navbar-header"><%= render "devise/shared/links" %></div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Log in</h2>
          <h1>What events<br/>
          do you have?</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name),class: "form-inline") do |f| %>
              <%= devise_error_messages! %>
              <div class="field">
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true,class: "form-control" ,placeholder: "Enter your email address" %>
                  <!--input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address"-->
                </div>
              </div>
              <div class="field">
                <%= f.password_field :password, autocomplete: "off",class: "form-control" ,placeholder: "Enter your password"  %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>

              <div class="actions">
                <!--button type="submit" class="btn btn-warning btn-lg">Invite Me!</button-->
                <%= f.submit "Log in" ,class:"btn btn-warning btn-lg"%>
              </div>
            <% end %>       
        </div><!-- /col-lg-6 -->
        
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /headerwrap -->

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-bottom">
        <CENTER>
        Copyright © 防人PJ.All Rights Reserved
       </CENTER>
    </div>
