<!DOCTYPE html>
<html>
<head>
  <title>Gonosen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

</head>
<body>
    <header>
        <nav>
            <% if admin_signed_in? %>
                <strong><%= link_to current_admin.adminname, pages_show_path %></strong>
                <%= link_to 'プロフィール変更', edit_admin_registration_path %>
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
            <% else %>
                <%= link_to 'サインアップ', new_admin_registration_path %>
                <%= link_to 'ログイン', new_admin_session_path %>
            <% end %>
        </nav>
    </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
